// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.flexslider {
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
  margin: 40px 0 20px;
}

.vendor-logo {
  margin-bottom: 5px;
  padding: 5px;
}

.row > .col-md-3:nth-child(4n+1) {
  clear: both;
};