<div class="row">
  <div class="col-md-12">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <img src="slide1.jpg" />
        </li>
        <li>
          <img src="slide2.jpg" />
        </li>
        <li>
          <img src="slide3.jpg" />
        </li>
        <li>
          <img src="slide4.jpg" />
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <% @vendors.each do |vendor| %>
    <div class="col-xs-6 col-md-3 center-block">
      <%= link_to vendor_path(vendor) do %>
        <%= image_tag vendor.image.url(:medium), class: 'img-responsive vendor-logo' %>
      <% end %>
    </div>
  <% end %>
</div>

